<div class="container px-5 mt-4">
  <div class="row">
    <div class="col-5">
      <h4>Trucking Companies by Region</h4>
       <div *ngFor="let topCompaniesByRegion of topCompaniesByRegions" routerLink="/carrier-list/{{topCompaniesByRegion.slug}}" style="cursor: pointer;" ><b>{{topCompaniesByRegion.name}}</b></div>
    </div>
    <div class="col-7">
      <h4>Trucking Companies by Shipment Type</h4>
      <ul class="md:columns-2 space-y-1.5"
      *ngFor="let topCompaniesByShipmentType  of topCompaniesByShipmentTypes let i = index"><li><b>{{ topCompaniesByShipmentType.name }}</b></li></ul>
    </div>
  </div>
  <ngx-skeleton-loader count="15" appearance="line" />
</div>

