<section class="d-flex flex-column align-items-center justify-content-center">
    <div class="card w-25 mt-4" style="border-radius: 2rem;">
        <div class="card-body p-4">
            
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordSubmit()">
                <h6 class="text-center">Reset your Password !</h6>
                
                <hr>

                 <p>
                    To be emailed a link to reset your password,pleaser enter you email address. 
                 </p>

                <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control rounded-pill" formControlName="email" placeholder="Enter email">
                    <div class="text-danger">
                        <span>Invalid Email</span>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </div>
            </form>

         </div>
    </div>
</section>
