.example-spacer {
    flex: 1 1 auto;
  }

  mat-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  mat-radio-button {
    margin: 3px;
  }