<mat-toolbar color="primary">
    <mat-toolbar-row>
        <!-- <img matTooltip="Angular Logo" src="shipChainlogo.svg" alt="Angular Logo"
            style="height: 40px; margin-left: 5%;"> -->
        <h1><i class="bi bi-truck"></i> Ship-Chain</h1>
        <span class="example-spacer"></span>




        <span class="example-spacer"></span>
        <div style="position: absolute; right: 0; margin-right: 3%;">
            <button mat-button routerLink="/company/about">About</button>
            <button mat-button routerLink="/company/blog">Blog</button>
            <button mat-button routerLink="/company/contact-us">Contact Us</button>
            <button mat-flat-button routerLink="/register" mat-button>Sign Up</button>
        </div>

    </mat-toolbar-row>
</mat-toolbar>