<section>

  <div class="container">
    <!-- BreadCrumb -->
    <div class="d-flex gap-2 mt-4">
      <a href=""><b>Trucking Companies</b></a>
      <span>|</span>
      <a href=""><b>Canada</b></a>
      <span>|</span>
      <a href=""><b>Ontario</b></a>
      <span>|</span>
      <a href=""><b>Brampton</b></a>
      <span>|</span>
      <p>Lion Force Transport Inc</p>
    </div>

    <!-- Cover Image -->
    <div>
      <img src="https://placehold.co/2656x500" alt="cover image" class="img-fluid">
    </div>

    <!-- Profile Info -->

    <div class="row justify-content-center align-items-center">
      <div class="col-3 mt-4">
        <img src="https://placehold.co/512x512" alt="company logo" class="img-fluid w-100">
      </div>
      <div class="col-7 mt-4">
        <mat-card-title>
          <div class="d-flex gap-2">
            <h4 class="heading">Lion Force Transport Inc</h4>

            <mat-icon color="primary">check_circle</mat-icon>
            <mat-chip color="primary" selected style="border-radius: 10px;">
              Interstate
            </mat-chip>

          </div>
          <div class="d-flex gap-2">
            <mat-icon color="primary"><b>star</b></mat-icon>
            <mat-icon color="primary"><b>star</b></mat-icon>
            <mat-icon color="primary"><b>star</b></mat-icon>
            <mat-icon color="primary"><b>star</b></mat-icon>
            <mat-icon color="primary"><b>star</b></mat-icon>
            <p><a href="">(5 Reviews)</a></p>
            <p><b>4.8 </b>out of 5</p>
          </div>
          <div>
            <p>27 Automatic Rd</p>
            <p>Brampton, ON CA L6S 5N8</p>
            <p>USDOT <b>2902802</b></p>
            <p>Docket <b>MC976776</b></p>
            <p>Website <a href=""><b>Lion Force Transport Inc</b></a></p>
          </div>
        </mat-card-title>
      </div>
      <div class="col-2">
        <button mat-flat-button style="widdh: 100%; border-radius: 0; margin-top: 5%;">Request Query</button>
        <button mat-stroked-button style="widdh: 100%; border-radius: 0;margin-top: 5%;">Cantact</button>
        <button mat-button style="widdh: 100%; border-radius: 0; margin-top: 5%;"><mat-icon>notes</mat-icon>Add
          Notes</button>
        <button mat-button style="widdh: 100%; border-radius: 0; margin-top: 5%;"><mat-icon>bookmark</mat-icon>Save
          Carrier</button>

      </div>
    </div>

    <!-- Over View -->

    <div class="mt-4">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Overview">
          <div class="row mt-4">
            <div class="col-9">
              <h3>Overview</h3>
              <h6>We ensure that the transport of your goods is delivered safely and securely to their desired
                destination. At Lion Force, we understand that each client has unique needs and we work hand in hand
                with our clients to deliver a tailored transportation solution.

              </h6>
              <p><b>Fleet Details</b></p>
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mb-2">

                <!-- Position Column -->
                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef> </th>
                  <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="tractors">
                  <th mat-header-cell *matHeaderCellDef> Tractors </th>
                  <td mat-cell *matCellDef="let element"> {{element.tractors}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="trailers">
                  <th mat-header-cell *matHeaderCellDef> Trailers </th>
                  <td mat-cell *matCellDef="let element"> {{element.trailers}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="trucks">
                  <th mat-header-cell *matHeaderCellDef> Trucks </th>
                  <td mat-cell *matCellDef="let element"> {{element.trucks}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <div class="row mt-4">
                <div class="col-3">
                  <h5><b>Freight</b></h5>
                  <ul>
                    <li>General Freight</li>
                    <li>General Freight</li>
                    <li>General Freight</li>
                    <li>General Freight</li>
                    <li>General Freight</li>
                    <li>General Freight</li>
                    <li>General Freight</li>
                  </ul>
                </div>
                <div class="col-3">
                  <h5><b>Truck Types</b></h5>
                  <ul>
                    <li>Dry Van</li>
                  </ul>
                </div>
                <div class="col-3">
                  <h5><b>Shipment Types</b></h5>
                  <ul>
                    <li>Full Truckload</li>
                    <li>Partial Truckload</li>
                    <li>Less than Truckload</li>
                  </ul>
                </div>
                <div class="col-3">
                  <h5><b>Specialized Services</b></h5>
                  <ul>
                    <li>Last Mile</li>
                    <li>Drop Trailer</li>
                    <li>Team Drivers</li>
                    <li>Team Drivers</li>
                    <li>Team Drivers</li>
                    <li>Team Drivers</li>
                  </ul>
                </div>
              </div>
              <div class="contact">
                <h5><b>MCS-150 Mileage:</b> 17,444,760 (2023)</h5>
                <h5><b>Electronic Tracking:</b> 100% of reviewers say the carrier uses electronic tracking</h5>
              </div>
            </div>
            <div class="col-3">
              <div>
                <mat-card class="example-card" appearance="outlined">
                  <mat-card-header>
                    <mat-card-title>
                      <h5><i class="bi bi-star"></i><b> Carrier Ratings</b></h5>
                    </mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="mt-2 px-4">
                    <h2 class="example-h2">Result</h2>

                    <section class="example-section">
                      <mat-progress-bar class="example-margin" [mode]="mode" [value]="value" [bufferValue]="bufferValue"
                        style=" margin-right: 20px;">
                      </mat-progress-bar>
                      <span> 9.8</span>
                    </section>

                    <h2 class="example-h2">Communication</h2>

                    <section class="example-section">
                      <mat-progress-bar class="example-margin" [mode]="mode" [value]="value" [bufferValue]="bufferValue"
                        style=" margin-right: 20px;">
                      </mat-progress-bar>

                      <span> 9.4</span>
                    </section>

                    <h2 class="example-h2">Timeliness</h2>

                    <section class="example-section">
                      <mat-progress-bar class="example-margin" [mode]="mode" [value]="value" [bufferValue]="bufferValue"
                        style=" margin-right: 20px;">
                      </mat-progress-bar>

                      <span> 9.2</span>
                    </section>
                    <hr>
                    <h5><i class="bi bi-hand-thumbs-up"></i><b> Positive Flags</b></h5>
                    <dl class="w-full y-1 text-sm text-gray-600 mt-2 px-4">
                      <div class="d-flex justify-content-between">

                        <dd>On Time Pickup</dd>
                        <dd>1</dd>


                      </div>
                      <div class="d-flex justify-content-between">

                        <dd>On Time Pickup</dd>
                        <dd>1</dd>


                      </div>
                      <div class="d-flex justify-content-between">

                        <dd>On Time Pickup</dd>
                        <dd>1</dd>


                      </div>
                      <div class="d-flex justify-content-between">

                        <dd>On Time Pickup</dd>
                        <dd>1</dd>


                      </div>
                    </dl>
                    <hr>
                    <h5><i class="bi bi-hand-thumbs-down"></i><b> Negative Flags</b></h5>
                    <dl class="w-full y-1 text-sm text-gray-600 mt-2 px-4">
                      <div class="d-flex justify-content-between">

                        <dd>Late Delivery</dd>
                        <dd>1</dd>


                      </div>
                      <div class="d-flex justify-content-between">

                        <dd>Unresponsive</dd>
                        <dd>1</dd>


                      </div>
                      <div class="d-flex justify-content-between">

                        <dd>Unresponsive</dd>
                        <dd>1</dd>


                      </div>
                      <div class="d-flex justify-content-between">

                        <dd>Unresponsive</dd>
                        <dd>1</dd>


                      </div>
                    </dl>
                  </mat-card-content>
                  <mat-card-footer class="example-card-footer">

                  </mat-card-footer>
                </mat-card>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Lanes">Lanes</mat-tab>
        <mat-tab label="Compliance">
          <div class="row mt-4">
            <div class="col-9">
              <h3>Compliance</h3>
              <h5 class="authz">Authorizations</h5>
              <p class="mt-2 align-items-center">FMCSA authority status : <span><i class="bi bi-circle-fill text-success"></i><b> Common
                    Active </b> - 09/13/2022 </span>(2 years, 5 months)</p>
              <p>Carrier operation : <b> Interstate </b></p>
              <p>Cargo authorization : <b> Property </b></p>

              <p><b>Safety Violations </b><i class="bi bi-info-circle"
                  title="The below safety violations are the Safety Measurement System's (SMS) BASIC violations released monthly by the FMCSA. CarrierSource updates these statistics as they are released by the FMCSA."></i>
              </p>
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mb-2">

                <!-- Position Column -->
                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef> </th>
                  <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="tractors">
                  <th mat-header-cell *matHeaderCellDef> Tractors </th>
                  <td mat-cell *matCellDef="let element"> {{element.tractors}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="trailers">
                  <th mat-header-cell *matHeaderCellDef> Trailers </th>
                  <td mat-cell *matCellDef="let element"> {{element.trailers}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="trucks">
                  <th mat-header-cell *matHeaderCellDef> Trucks </th>
                  <td mat-cell *matCellDef="let element"> {{element.trucks}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <p class="mt-4"><b>Accident Report</b>
            </p>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mb-2">

              <!-- Position Column -->
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="tractors">
                <th mat-header-cell *matHeaderCellDef> Tractors </th>
                <td mat-cell *matCellDef="let element"> {{element.tractors}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="trailers">
                <th mat-header-cell *matHeaderCellDef> Trailers </th>
                <td mat-cell *matCellDef="let element"> {{element.trailers}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="trucks">
                <th mat-header-cell *matHeaderCellDef> Trucks </th>
                <td mat-cell *matCellDef="let element"> {{element.trucks}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <p class="mt-4"><b>Inspections</b>
          </p>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mb-2">

            <!-- Position Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="tractors">
              <th mat-header-cell *matHeaderCellDef> Tractors </th>
              <td mat-cell *matCellDef="let element"> {{element.tractors}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="trailers">
              <th mat-header-cell *matHeaderCellDef> Trailers </th>
              <td mat-cell *matCellDef="let element"> {{element.trailers}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="trucks">
              <th mat-header-cell *matHeaderCellDef> Trucks </th>
              <td mat-cell *matCellDef="let element"> {{element.trucks}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <h5 class="authz mt-4">Insurance Coverage</h5>
              <p class="mt-2 align-items-center"><b>Insurance Type </b> : Common Active</p>
              <p><b>Company Name </b> : $750,000</p>
              <p><b>Policy Limit </b> : Atlantic Specialty Insurance Company</p>
              <p><b>Policy Number </b> : 770625523</p>
              <p><b>Effective Date </b> : 12/11/2024</p>


            </div>

             <div class="col-3">
              rtretret
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Review">
          <div class="row mt-4">
            <div class="col-9">
              <div class="row d-flex justify-content-between">
                <div class="col-9">
                  <h3>Review</h3>
                </div>

                <div class="col-3 text-right">
                  <button mat-flat-button style="border-radius: 0; margin-top: 5%;">Request Query</button>
                </div>
            
              </div>
              <hr>

              <div>
                <p><b>Positive Flags</b></p>
                <mat-chip-set
                class="example-chip"
                cdkDropList
                cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)"
              >
                @for (vegetable of vegetables(); track vegetable.name) {
                  <mat-chip class="example-box" cdkDrag>{{vegetable.name}}</mat-chip>
                }
              </mat-chip-set>

              </div>

              <div class="mt-4">
                <p><b>Positive Flags</b></p>
                <mat-chip-set
                class="example-chip"
                cdkDropList
                cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)"
              >
                @for (vegetable of vegetables(); track vegetable.name) {
                  <mat-chip class="example-box" cdkDrag>{{vegetable.name}}</mat-chip>
                }
              </mat-chip-set>

              </div>

              <hr>

              <div>
                <p>Showing 2 of 2 Reviews  | <a href=""> Clear Filters</a></p>
              </div>

              <!-- <div>
                <mat-card appearance="outlined">
                  <div class="row">
                  <div class="col-2"></div>

                  </div>
                </mat-card>
              </div> -->
              

            </div>
            <div class="col-3">
              dfwefewfew
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

  </div>
</section>