<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img matTooltip="Angular Logo" src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular Logo"
      style="height: 40px; margin-right: 16px;">
      <h1>Ship-Chain</h1>
    <span class="example-spacer"></span>
    <!-- <div class="search-container position-relative"
      <form class="d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="search-icon feather feather-search">
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
        <input class="form-control search-input ps-5" type="search" placeholder="Search anything..."
          aria-label="Search">
         
       
    

      </form>
    </div> -->
    
    <div class="ng-autocomplete">
      <ng-autocomplete 
      [data]="countries"
      [searchKeyword]="keyword"
      (selected)="selected($event)"
      [itemTemplate]="itemTemplate" 
      [notFoundTemplate]="notFoundTemplate" >

      </ng-autocomplete>
      
      <h1>{{searchName}}</h1>

      <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
      </ng-template>

  </div>

    <span class="example-spacer"></span>
    <button mat-button routerLink="/review">Write-a-review</button>
    <button mat-button (click)="logout()">Logout</button>
    <button routerLink="/login" mat-button>Sign In</button>
  </mat-toolbar-row>
</mat-toolbar>