<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- <img matTooltip="Angular Logo" src="shipChainlogo.svg" alt="Angular Logo" style="height: 40px; margin-right: 16px;"
      routerLink="/"> -->
    <i class="bi bi-truck me-3" style="font-size: 48px; margin: 10%;"></i>
    <h1 routerLink="/">Ship-Chain</h1>
    <span class="example-spacer"></span>

    <div class="ng-autocomplete">
      <ng-autocomplete [data]="countries" [searchKeyword]="keyword" (selected)="selected($event)"
        [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">

      </ng-autocomplete>

      <h1>{{searchName}}</h1>

      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>

    </div>

    <span class="example-spacer"></span>
    <button mat-button routerLink="/review">Write-a-review</button>
    <button mat-button (click)="logout()">Logout</button>
    <button routerLink="/login" mat-button>Sign In</button>
  </mat-toolbar-row>
</mat-toolbar>