<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img matTooltip="Angular Logo" src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular Logo"
      style="height: 40px; margin-right: 16px;">
    <span class="example-spacer"></span>
    <div class="search-container position-relative">
      <form class="d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="search-icon feather feather-search">
              <circle cx="11" cy="11" r="8"></circle>
              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
          <input class="form-control search-input ps-5" type="search"
                 placeholder="Search anything..." aria-label="Search">
          <!-- <button class="btn btn-search ms-2" type="submit">Search</button> -->
      </form>
  </div>
    <span class="example-spacer"></span>
    <button mat-button>Logout</button>
    <button routerLink="/login" mat-button>Sign In</button>
  </mat-toolbar-row>
</mat-toolbar>

