<section>
  <div class="container mt-4">
    <div class="row">
      <form [formGroup]="reviewConfigForm" (ngSubmit)="reviewFormSubmit()">
        <div class="col-12">
          <h4><b>Lion Force Transport Inc Review</b></h4>
          <hr>
          <!-- 1 : Title -->
          <div class="mt-4">
            <label for="">Title (Optional)</label>
            <input type="text" class="form-control w-50" formControlName="Title (Optional)">
          </div>
          <hr>
          <!-- 2 -->
          <div class="mt-4">
            <label for="">Would you work with this carrier again?</label>
            <mat-radio-group aria-label="workWithCarrier" class="example-radio-group" formControlName="Would you work with this carrier again?">
              <mat-radio-button class="example-radio-button" value=true>Yes</mat-radio-button>
              <mat-radio-button class="example-radio-button" value=false>No</mat-radio-button>
            </mat-radio-group>
          </div>
          <hr>

          <!-- 3 -->

          <div class="mt-4">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
              <mat-tab label="What went well">
                <div class="gap-2">
                  @for (What_went_well of allReviewConfigs["What went well"]; track $index) {
                  <button class="mt-2 me-2" style="border-radius: 0;" mat-stroked-button>
                    <mat-checkbox class="example-margin" value={{What_went_well}}>{{What_went_well}}</mat-checkbox>
                  </button>
                  }
                </div>
              </mat-tab>
              <mat-tab label="What went poorly">
                <div class="gap-2">
                  @for (What_went_poorly of allReviewConfigs["What went poorly"]; track $index) {
                  <button class="mt-2 me-2" style="border-radius: 0;" mat-stroked-button>
                    <mat-checkbox class="example-margin" value={{What_went_poorly}}>{{What_went_poorly}}</mat-checkbox>
                  </button>
                  }
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
          <hr>
          <!-- 4 -->
          <div class="mt-4">
            <label for="">Would you like to receive availability updates for this carrier?
              (Optional)</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="Would you like to receive availability updates for this carrier? (Optional)">
              <mat-radio-button class="example-radio-button" value=true>Yes</mat-radio-button>
              <mat-radio-button class="example-radio-button" value=false>No</mat-radio-button>
            </mat-radio-group>
          </div>
          <hr>
          <!-- 5 -->
          <div class="mt-4">
            <label for="">Tell us about your overall experience working with this carrier.</label>
            <textarea id="" rows="5" class="form-control w-50" formControlName="Tell us about your overall experience working with this carrier" placeholder="write here"></textarea>
          </div>
          <hr>
          <!-- 6 -->
          <div class="mt-4">
            <label for="">When did you last work with this carrier?</label>
            <div class="d-flex" formGroupName="When did you last work with this carrier?">
              <select class="form-select w-25 me-2" formControlName="month" aria-label="Default select example">
                <option *ngFor="let month of allReviewConfigs['When did you last work with this carrier?']?.month" value={{month}}>{{month}}</option>
              </select>
              <select class="form-select w-25" formControlName="year" aria-label="Default select example">
                @for (year of allReviewConfigs["When did you last work with this carrier?"]?.year; track
                year) {
                <option value={{year}}>{{year}}</option>
                }
              </select>
            </div>
          </div>
          <hr>
          <!-- 7 -->
          <div class="col-4">
            <label for="">How did you find this carrier? (Optional)</label>
            <div class="d-flex">
              <select class="form-select w-75 me-2" formControlName="How did you find this carrier? (Optional)" aria-label="Default select example">
                @for (value of allReviewConfigs["How did you find this carrier? (Optional)"]; track
                $index) {
                <option value={{value}}>{{value}}</option>
                }
              </select>
            </div>
          </div>
          <hr>
          <!-- 8 -->
          <div class="mt-4">
            <label for="">How was the carrier's rate?</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="How was the carrier's rate?">
              @for (carrierRate of allReviewConfigs["How was the carrier's rate?"]; track carrierRate) {
              <mat-radio-button class="example-radio-button" value={{carrierRate}}>{{carrierRate}}</mat-radio-button>
              }
            </mat-radio-group>
          </div>
          <hr>
          <!-- 9 -->
          <div class="mt-4">
            <label for="">How often have you worked with this carrier?</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="How often have you worked with this carrier?">
              @for (workWithThisCarrier of allReviewConfigs
              ["How often have you worked with this carrier?"]; track workWithThisCarrier) {
              <mat-radio-button class="example-radio-button">{{workWithThisCarrier}}</mat-radio-button>
              }
            </mat-radio-group>
          </div>
          <hr>
          <!-- 10 -->
          <!-- <div class="mt-4">
            <label for="">What lanes did this carrier run?</label>
            <div formArrayName="What lanes did this carrier run?">
                            <div *ngFor="let lane of getLanes().controls; let i = index">
                                <mat-card class="mt-4 w-50">
                                    <label class="px-4 py-2" for="Pickup">lane {{i+1}}</label>
                                    <div class="ng-autocomplete px-4 py-2">
                                        <ng-autocomplete [data]="pickUps" [searchKeyword]="keyword"
                                            (selected)="selected($event, i)" [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate" [formGroupName]="i"
                                            formControlName="pickup">

                                        </ng-autocomplete>

                                        <h1>{{searchName}}</h1>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.name"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>

                                    </div>
                                    <label class="px-4" for="">DropOff {{i+1}}</label>
                                    <div class="ng-autocomplete px-4">
                                        <ng-autocomplete [data]="dropOffs" [searchKeyword]="keyword"
                                            (selected)="selected($event, i)" [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate" [formGroupName]="i"
                                            formControlName="dropoff">

                                        </ng-autocomplete>

                                        <h1>{{searchName}}</h1>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.name"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>

                                    </div>

                                </mat-card>
                            </div>
                        </div>
            <mat-card *ngIf="showCarrierLane" class="mt-4 w-50">
                            <label class="px-4 py-2" for="Pickup">Pickup</label>
                            <div class="ng-autocomplete px-4">
                                <ng-autocomplete [data]="pickUps" [searchKeyword]="keyword"
                                    (selected)="selected($event)" [itemTemplate]="itemTemplate"
                                    [notFoundTemplate]="notFoundTemplate" formControlName="pickup">

                                </ng-autocomplete>

                                <h1>{{searchName}}</h1>

                                <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item.name"></a>
                                </ng-template>

                                <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>

                            </div>
                            <label class="px-4 py-2" for="">DropOff</label>
                            <div class="ng-autocomplete px-4">
                                <ng-autocomplete [data]="dropOffs" [searchKeyword]="keyword"
                                    (selected)="selected($event)" [itemTemplate]="itemTemplate"
                                    [notFoundTemplate]="notFoundTemplate" formControlName="dropOff">

                                </ng-autocomplete>

                                <h1>{{searchName}}</h1>

                                <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item.name"></a>
                                </ng-template>

                                <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>

                            </div>

                        </mat-card>
            <button mat-flat-button class="mt-4" (click)="addLane()">Add lane</button>
          </div> -->
          <hr>
          <!-- 11 -->
          <div class="mt-4">
            <label for="" class="mx-4">Timeliness</label>
            <div class="rating-container">
              <h5>
                {{ title }}
              </h5>
              <div class="d-flex align-items-center">
                <span class="rating-label me-3">
                  Late</span>
                <div class="btn-group" role="group">
                  @for (rating of allReviewConfigs["Timeliness"]; track rating) {
                  <button type="button" class="rating-btn" [class.active]="isSelected(rating)" (click)="onRatingClick(rating)">
                    {{ rating }}
                  </button>
                  }
                </div>
                <span class="rating-label ms-3">
                  Punctual</span>
              </div>
            </div>

          </div>
          <div>
            <label for="" class="mx-4">Quality of Equipment</label>
            <div class="rating-container">
              <h5>
                {{ title }}
              </h5>
              <div class="d-flex align-items-center">
                <span class="rating-label me-3">
                  Low</span>
                <div class="btn-group" role="group">
                  @for (rating of allReviewConfigs["Quality of Equipment"]; track rating) {
                  <button type="button" class="rating-btn" [class.active]="isSelected(rating)" (click)="onRatingClick(rating)">
                    {{ rating }}
                  </button>
                  }
                </div>
                <span class="rating-label ms-3">
                  High</span>
              </div>
            </div>

          </div>
          <div>
            <div class="rating-container">
              <label for="" class="mx-4">Communication</label>
              <h5>
                {{ title }}
              </h5>
              <div class="d-flex align-items-center">
                <span class="rating-label">
                  Uncommunicative</span>
                <div class="btn-group" role="group">
                  @for (rating of allReviewConfigs["Communication"]; track rating) {
                  <button type="button" class="rating-btn" [class.active]="isSelected(rating)" (click)="onRatingClick(rating)">
                    {{ rating }}
                  </button>
                  }
                </div>
                <span class="rating-label ">
                  Great Communication</span>
              </div>
            </div>

          </div>
          <hr>
          <!-- 12 -->
          <div class="mt-4">
            <div class="result">
              <div>
                <label class="example-h2">What type(s) of freight did you ship?</label>
                <section class="example-section" formArrayName="What type(s) of freight did you ship?">
                  <mat-checkbox class="example-margin" *ngFor="let freight of allReviewConfigs['What type(s) of freight did you ship?']; let i = index" formControlName={{i}}>
                    {{freight.name}}
                  </mat-checkbox>
                </section>
              </div>
            </div>
          </div>
          <hr>
          <!-- 13 -->
          <!-- <div class="mt-4">
            <div class="result">
              <div>
                <label class="example-h2">What type(s) of truck did you use?</label>
                <section class="example-section">
                  <mat-checkbox class="example-margin" *ngFor="let truckUse of allReviewConfigs['What type(s) of truck did you use?']; let i = index" formControlName="truckUse" [(indeterminate)]="indeterminate" [labelPosition]="labelPosition()" [disabled]="disabled()">
                    {{truckUse.name}}
                  </mat-checkbox>
                </section>
              </div>
            </div>
          </div>
          <hr> -->
          <!-- 14 -->
          <!-- <div class="mt-4">
            <div class="result">
              <div>
                <label class="example-h2">What type(s) of shipments did this carrier take?</label>

                <section class="example-section">
                  <mat-checkbox class="example-margin" *ngFor="let shipment of allReviewConfigs['What type(s) of shipments did this carrier take?']; let i = index" formControlName="shipmentTruck" [(indeterminate)]="indeterminate" [labelPosition]="labelPosition()" [disabled]="disabled()">
                    {{shipment.name}}
                  </mat-checkbox>
                </section>
              </div>
            </div>
          </div>
          <hr> -->
          <!-- 15 -->
          <!-- <div class="mt-4">
            <div class="result">
              <div>
                <label class="example-h2">What specialized services did this carrier provide?
                  (Optional)</label>

                <section class="example-section">
                  <mat-checkbox class="example-margin" *ngFor="let specialized of allReviewConfigs['What specialized services did this carrier provide?']; let i = index" formControlName="specializedService" [(indeterminate)]="indeterminate" [labelPosition]="labelPosition()" [disabled]="disabled()">
                    {{specialized.name}}
                  </mat-checkbox>
                </section>
              </div>
            </div>
          </div>
          <hr> -->
          <!-- 16 -->
          <div class="mt-4">
            <label for="">Did this carrier use electronic tracking?</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="Did this carrier use electronic tracking?">

              <mat-radio-button class="example-radio-button" value=true>Yes</mat-radio-button>
              <mat-radio-button class="example-radio-button" value=false>No</mat-radio-button>

            </mat-radio-group>
          </div>
          <hr>
          <!-- 17 -->
          <div class="mt-4">
            <span class="">Examples: redacted rate confirmation, TMS, emails, etc.

              This will expedite the review approval process and will never be shared publicly.</span>
            <input type="file" class="form-control w-25 ">
          </div>
          <hr>
          <!-- 18 -->
          <div class="mt-4">
            <label for="">Is your brokerage related to this carrier in any way?</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="Is your brokerage related to this carrier in any way?">
              <mat-radio-button class="example-radio-button" value=true>Yes</mat-radio-button>
              <mat-radio-button class="example-radio-button" value=false>No</mat-radio-button>

            </mat-radio-group>
          </div>
          <hr>
          <!-- 19 -->
          <div class="mt-4">
            <label for="">Are you willing to be a reference for this carrier?</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="Are you willing to be a reference for this carrier?">
              <mat-radio-button class="example-radio-button" value=true>Yes</mat-radio-button>
              <mat-radio-button class="example-radio-button" value=false>No</mat-radio-button>

            </mat-radio-group>
          </div>
          <hr>
          <!-- 20 -->
          <div class="mt-4">
            <label for="">I would like my review to be anonymous.</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="I would like my review to be anonymous">
              <mat-radio-button class="example-radio-button" value=true>Yes</mat-radio-button>
              <mat-radio-button class="example-radio-button" value=false>No</mat-radio-button>

            </mat-radio-group>
          </div>
          <hr>
          <!-- 21 -->
          <button mat-flat-button>Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>