<div class="container">
    <div class="row mt-4">
        <h4>List</h4>
        <div class="col-12">
            <ng-container *ngIf="saveListData.length === 0">
                <h1 class="text-center">No data found</h1>
            </ng-container>
            <ng-container *ngIf="saveListData.length > 0">
                <ng-container *ngFor="let saveList of saveListData; let i = index">
                    <mat-card class="p-4 mt-4">
                        <div class="row align-items-center" style="height: 20px;">
                            <div class="col-10 d-flex" style="cursor: pointer;">
                                <h6><b>{{ saveList.name }}</b><span class="text-secondary"> - {{ saveList.carriersCount
                                        }}
                                        {{ saveList.carriersCount === 1 ? 'Company' : 'Companies' }}
                                    </span></h6>
                            </div>
                            <ng-container *ngIf="!saveList.isPrimary">
                                <div class="col-2 text-right d-flex gap-1 ">
                                    <p>{{ saveList.createdAt | date: 'MM/dd/yyyy' }}</p>
                                    <button class="btn btn-link p-0" (click)="deleteList(saveList._id)"
                                        aria-label="Delete">
                                        <i class="bi bi-trash-fill text-danger" style="font-size: 24px;"></i>
                                    </button>
                                </div>
                            </ng-container>
                        </div>
                    </mat-card>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>