<h2>Section title</h2>
<div class="table-responsive small">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Author</th>
        <th scope="col">Role</th>
        <th scope="col">Tags</th>
        <th scope="col">Published</th>
        <th scope="col">Created</th>
      </tr>
    </thead>
    <tbody>
      @for (blog of getBlog; track $index) {
      <tr>
        <td>{{blog._id}}</td>
        <td>{{blog.title}}</td>
        <td>{{blog.content}}</td>
        <td>{{blog.author.firstName}} {{blog.author.lastName}}</td>
        <td>{{blog.author.role}}</td>
        <td>{{blog.tags[0]}}</td>
        <td>{{blog.publishedAt | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>{{blog.createdAt | date: 'dd/MM/yyyy HH:mm'}}</td>
      </tr>
      }
    </tbody>
  </table>
</div>