<section class="d-flex flex-column align-items-center justify-content-center">
    <div class="card w-25 mt-4" style="border-radius: 2rem;">
        <div class="card-body p-4">
            
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmit()">
                <h6 class="text-center">Change your password !</h6>
                
                <hr>

                 <p>
                    Your Password has been reset. Choose a new password below 
                 </p>

                 <div class="form-group position-relative">
                    <label for="password" class="form-label">Password</label>
                    <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control rounded-pill" placeholder="Password" inputmode="password">
                    <span class="position-absolute end-0 top-50 translate-middle-y me-3 mt-3" (click)="showPassword = !showPassword" style="cursor: pointer;">
                        <i [ngClass]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                    </span>
                    <div class="text-danger">
                        <ng-container *ngIf="resetPasswordForm.controls['password'].touched && resetPasswordForm.controls['password'].errors?.['minlength']">
                            <span>Minimum 6 characters</span>
                        </ng-container>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </div>
            </form>

         </div>
    </div>
</section>
