<section class="d-flex flex-column align-items-center justify-content-center">
    <div class="card w-25 mt-4" style="border-radius: 2rem;">
        <div class="card-body p-4">
            
         <h6>Verification Required</h6>
         
          <p>
            Please check your email to confirm your ownership of this email address.
          </p>

          <p>
            Didn't receive an email? Check your spam folder and if you still have not received it, you can <a href="">click here</a> to resend the email.
          </p>
          
         </div>
    </div>
</section>
