.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 2px;
  }

  h6{
    font-size: 14px;
    font-weight: 500;
  }

  span{
    box-sizing: border-box;
    font-size: 10;
  }