<footer class="bg-primary text-white">
    <div class="container mt-5 pt-5">
        <div class="row">

            <div class="col-3">
                <!-- <img src="shipChainlogo.svg" alt="logo" class="img-fluid me-2" style="height: 7vh; width: 7vw;"> -->
                <h4 class="d-inline ms-2"><i class="bi bi-truck"></i><b> ShipChain</b></h4>
            </div>

            <div class="col-3">
                <h4><b>Contact</b></h4>

                <p><a href=""><b>My Email</b></a></p>
                <p><b>420 W Huron St. B101
                        Chicago, IL 60654
                    </b></p>


            </div>
            <div class="col-3">
                <h4><b>Legal </b></h4>

                <p><a href=""><b>Terms of Service </b></a></p>
                <p><a href=""><b>Privacy Policy </b></a></p>
                <p><a href=""><b>Cookie Policy </b></a></p>
                <p><a href=""><b>Content and Data Usage</b></a></p>
            </div>

            <div class="col-3">
                <h4><b>Helpful Links </b></h4>

                <p><a href=""><b>Trucking Companies </b></a></p>
                <p><a href=""><b>Pricing </b></a></p>
                <p><a href=""><b>About ShipChain </b></a></p>
                <p><a href=""><b>Sign in</b></a></p>
                <p><a href=""><b>Sign Up</b></a></p>
            </div>
        </div>
    </div>

    <hr>

    <div class="text-center p-3">
        <p>Copyright © 2025, ShipChain</p>
    </div>

</footer>