<div class="container mt-4">
    <div class="row d-flex ">
        <h4>List</h4>
        <div class="col-3">
            <mat-card class="p-4">
                <div>
                    <hr>
                    <div class="main-div" style="cursor: pointer;">
                        <button mat-button><span>User Info</span></button>
                    </div>
                    <hr>
                    <div class="main-div" style="cursor: pointer;">
                        <button mat-button><span>My Review</span></button>
                    </div>
                    <hr>
                    <div class="main-div" style="cursor: pointer;" routerLink="/save-list">
                        <button mat-button><span>Lists</span></button>
                    </div>
                    <hr>
                    <div class="main-div" style="cursor: pointer;">
                        <button mat-button><span>Recently Viewed</span></button>
                    </div>
                    <hr>
                    <div class="main-div" style="cursor: pointer;">
                        <button mat-button><span>Subscription</span></button>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-8">
            @for (carrierList of carrierLists; track $index) {
            <mat-card appearance="outlined" class="p-4 mt-4 d-flex flex-column">
                <div class="row">
                    <div class="col-2">
                        <img src="/logo-img.png" alt="logo" class="img-fluid">
                    </div>
                    <div class="col-7 ml-4">
                        <mat-card-title class="d-flex align-items-center gap-1">
                            {{carrierList.legalName}}
                            <mat-icon color="primary" class="ml-2">check_circle</mat-icon>
                            <mat-chip color="primary" selected class="ml-2" style="border-radius: 10px;">
                                @if (carrierList.carrierOperation == 'A') {
                                Interstate
                                }@else if (carrierList.carrierOperation == 'B') {
                                Intrastate Hazmat
                                }@else if (carrierList.carrierOperation == 'C') {
                                Intrastate Non-Hazmat
                                }
                            </mat-chip>
                            <p class="dot ml-2 px-2 mt-2">N/A | USDOT {{carrierList.dotNumber}}</p>
                        </mat-card-title>
                        <p><i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i> (5 Review) <b>4.8</b> out of 5
                        </p>
                    </div>
                    <div class="col-2">
                        <button mat-button style="width: 100%; border-radius: 0; margin-top: 5%;"><i
                                class="bi bi-file-text me-2"></i>Add Notes</button>
                        <button mat-button style="width: 100%; border-radius: 0; margin-top: 5%;"><i
                                class="bi bi-trash me-2"></i>Delete</button>
                    </div>
                </div>
                <hr>
                <div class=" d-flex justify-content-start mx-6 gap-1">
                    <i class="bi bi-truck" style="font-size: 1em;"></i>
                    <p>Authority : <i class="bi bi-circle-fill" style="color:lightgreen"></i> Common Active
                        {{carrierList.addDate | date: 'MM/dd/yyyy'}}
                    </p>
                </div>
                <hr>
                <div class="row p-4 d-flex">
                    <div class="col-6">
                        <p><b>Fleet Size:</b> {{carrierList.nbrPowerUnit}} Trucks</p>
                        <p>Insurance : <b>75000</b></p>
                    </div>
                    <div class="col-6">

                        <p>Safety Rating : <b>None</b></p>
                    </div>
                </div>
                <hr>
                <div class="row p-4">
                    <div class="col-6">
                        <p><b>Freight</b>: ({{showAllFreight ? carriers?.length : 4}})</p>
                        <ul>
                            <li *ngFor="let item of carriers | slice:0:(showAllFreight ? carriers?.length : 4)">
                                {{item}}
                            </li>
                        </ul>
                        <button mat-button (click)="showAllFreight = !showAllFreight">
                            {{showAllFreight ? 'See Less' : 'See All'}}
                        </button>
                    </div>
                    <div class="col-6">
                        <p><b>Truck Types</b>: (4)</p>
                        <ul>
                            <li>container</li>
                            <li>Flatbed</li>
                            <li>Oversized</li>
                            <li>Conestoga</li>
                        </ul>
                    </div>
                </div>
                <hr>
            </mat-card>
            }
        </div>
    </div>
</div>